{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Создать заявку на проверку участия в мероприятии</h1>

    {{ include('event/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_home') }}">Назад</a>
{% endblock %}
